.p1 {
  background-color: #d18980;
  text-align: center;
  color:#cc9596;
  }
h1 {
  text-align: center;
  color:#ffd1cc;
}
body {
  background-color: #fad2cd;
}
.p {
   border: 10px solid #ff8273;
    width:100px;
   border-radius:100px ;
   padding: 45px;
  margin-right:auto;
  margin-left: auto;
   background-color: #c4776e;
}
.p3 {
  color:#f5cba2;
}
.p2 {
    border: 10px solid #db7274;
    width:1000px;
   border-radius:50px ;
   padding: 10px;
  margin-right:auto;
  margin-left: auto;
   background-color: #d64d50;
}
h2 {
  color:#ff7e00;
 text-align: center;
}
a {
 border: 5px solid #ff8273;
   border-radius:30px ;
   padding: 15px;
   background-color: #c4776e; 
}
.p4 {
    border: 10px solid #db7274;
    width:1000px;
   border-radius:50px ;
   padding: 10px;
  margin-right:auto;
  margin-left: auto;
   background-color: #d64d50;
}
.p5 {
    border: 10px solid #db7274;
    width:700px;
   border-radius:50px ;
   padding: 10px;
  margin-right:auto;
  margin-left: auto;
   background-color: #d64d50;